<!DOCTYPE html>
<html lang="en">
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="snr">Zeige Datensätze für Snr</a>
  <a href="taktzeit1">Taktzeit Analyse 1</a>
  <a href="taktzeit2">Taktzeit Analyse 2</a>
  <a href="taktzeit4">Taktzeit Analyse 4</a>
  <a href="taktzeit5">Taktzeit Analyse 5</a>
  <a href="taktzeit7">Taktzeit Analyse 7</a>
  <a href="durchlauf">Durchlaufszeit des Einlesens</a>
  <a href="laufzeit">Durchlaufszeit der Analysen</a>

  <a href="about">Ladungsträger</a>
</div>
</html>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>