<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taktung</title>
</head>
{% include "header.html" %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<body>
<form method="POST">
    <label>maximale Zeit</label>
    <input type="checkbox" name="max"/>
    <label>minimale Zeit</label>
    <input type="checkbox" name="min"/>
    <label>durchschnittliche Zeit</label>
    <input type="checkbox" name="avg"/>
    <label>Ausfallrate</label>
    <input type="checkbox" name="fail"/>
    <input type="submit">
</form>
<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph', graphs, {});
    </script>
</div>
</div>

</body>
</html>
